{% extends "email/base.html" %}

{% block alert %}

    <tr>
        <td class="alert alert-info">
            Det har kommet en søknad om opprettelse av en ny interessegruppe!
        </td>
    </tr>

{% endblock %}

{% block content %}

    <tr>
        <td class="content-block">
            {{ from_name }} ({{ from_email }}) ønsker å opprette følgende gruppe:
        </td>
    </tr>

    <tr>
        <td class="content-block">
            <p><b>Navn på interessegruppe:</b> {{ group_name }} </p>
        </td>
    </tr>

    <tr>
        <td class="content-block">
            <p><b>Beskrivelse:</b> {{ description}} </p>
        </td>
    </tr>

{% endblock %}
